#!/home/armour/bots/eggdrop

# -------------------------------------------------------------------------------
# Basic eggdrop configuration file template
# -------------------------------------------------------------------------------
#
#     Questions or problems? Ask via:
#
#       - #Armour on Undernet
#       - Empus <empus@undernet.org>
#
# -------------------------------------------------------------------------------


# -- botname variable to be used for database files
#    and the $uservar.conf filename for Armour configuration file
set uservar "EDITME"
                       
# -- bot nickname
set nick "EDITME"

# -- alternate bot nickname
set altnick "EDITME-"

# -- botnet nickname 
set botnet-nick "EDITME"

# -- botnet ident (unused if identd is running)
set username "EDITME"

# -- your user handle in eggdrop for admin access
set owner "YOUR-USER"

# -- bot administrator info
set admin "Empus <empus@undernet.org>"

# -- network bot is connected to
set network "Undernet"

# -- bot realname
set realname "Armour -- https://armour.bot"

# -- UTC time offset
set offset "+5"

# -- listen address for bot & user telnet sessions
set listen-addr "127.0.0.1"

# -- bot bind address for outgoing connection
set vhost4 "172.16.164.1"

# -- bot IPv6 bind address for outgoing connections
#set vhost6 "2001:db5::c005:b07"

# -- listen port for bot & user telnet sessions
listen 1231 all

# -- network type
set net-type "Undernet"

# -- space delimited server list for IRC connections
# -- change to match your own server(s)
set servers "irc.undernet.org"

set timezone "UTC"
set env(TZ) "$timezone$offset"
set prefer-ipv6 0
set max-logs 20
set max-logsize 0
set quick-logs 0
set raw-log 1
logfile mco * "logs/$uservar.log"
set log-time 1
set timestamp-format {[%H:%M:%S]}
set keep-all-logs 0
set logfile-suffix ".%d%b%Y"
set switch-logfiles-at 300
set quiet-save 0
set console "mkcoblxs"
set userfile "db/$uservar.user"
set help-path "help/"
set text-path "text/"
set motd "text/motd"
set telnet-banner "text/banner"
set userfile-perm 0600
set remote-boots 2
set share-unlinks 1
set protect-telnet 0
set dcc-sanitycheck 0
set ident-timeout 5
set require-p 1
set open-telnets 0
set stealth-telnets 1
set stealth-prompt "\n\nNickname.\n"
set use-telnet-banner 0
set connect-timeout 15
set dcc-flood-thr 3
set telnet-flood 5:60
set paranoid-telnet-flood 1
#set ssl-certificate "eggdrop.crt"
#set ssl-verify-depth 9
set ssl-capath "/etc/ssl/"
#set ssl-cafile ""
#set ssl-ciphers ""
#set ssl-cert-auth 0
#set ssl-verify-dcc 0
#set ssl-verify-bots 0
#set ssl-verify-clients 0
set ignore-time 15
set hourly-updates 00
set notify-newusers "$owner"
set default-flags "hp"
set whois-fields "url birthday"
set must-be-owner 1
unbind dcc n simul *dcc:simul
set max-socks 100
set allow-dk-cmds 1
set dupwait-timeout 5
set strict-host 1
set cidr-support 0
set mod-path "modules/"
loadmodule blowfish
set blowfish-use-mode ecb
loadmodule dns
set dns-cache 86400
set dns-negcache 600
set dns-maxsends 4
set dns-retrydelay 3
loadmodule channels
set chanfile "db/$uservar.chan"
set force-expire 0
set share-greet 0
set use-info 1
set allow-ps 0
set default-flood-chan 0:0
set default-flood-deop 0:0
set default-flood-kick 0:0
set default-flood-join 0:0
set default-flood-ctcp 0:0
set default-flood-nick 0:0
set default-aop-delay 0:0
set default-idle-kick 0
set default-chanmode ""
set default-stopnethack-mode 0
set default-revenge-mode 0
set default-ban-type 3
set default-ban-time 0
set default-exempt-time 60
set default-invite-time 60
set default-chanset {
        -autoop            -autovoice
        -bitch            +cycle
        -dontkickops    -dynamicbans
        +dynamicexempts +dynamicinvites
        -enforcebans    -greet
        -inactive        -nodesynch
        -protectfriends -protectops
        -revenge        -revengebot
        -secret            -seen
        +shared            -statuslog
        +userbans        +userexempts
        +userinvites    -protecthalfops
        -autohalfop        -static
}
loadmodule server
#set ssl-verify-server 0

bind evnt - init-server evnt:init_server
proc evnt:init_server {type} {
  global botnick
  putquick "MODE $botnick +i-ws"
}
set default-port 6667
set msg-rate 1
set keep-nick 1
set quiet-reject 1
set lowercase-ctcp 0
set answer-ctcp 3
set flood-msg 5:10
set flood-ctcp 3:60
set server-cycle-wait 60
set server-timeout 60
set check-stoned 1
set serverror-quit 1
set max-queue-msg 300
set trigger-on-ignore 0
set exclusive-binds 0
set double-mode 1
set double-server 1
set double-help 1
set optimize-kicks 0
set stack-limit 6
set nick-len 9
loadmodule ctcp
set ctcp-mode 1
loadmodule irc
set bounce-bans 0
set bounce-exempts 0
set bounce-invites 0
set bounce-modes 0
set max-bans 30
set max-exempts 20
set max-invites 20
set max-modes 30
set learn-users 0
set wait-split 1800
set wait-info 180
set mode-buf-length 200
unbind msg - hello *msg:hello
bind msg - hello *msg:hello
unbind msg - ident *msg:ident
unbind msg - addhost *msg:addhost
set opchars "@"
set no-chanrec-info 0
set prevent-mixing 1
#loadmodule transfer
set max-dloads 3
set dcc-block 0
set copy-to-tmp 1
set xfer-timeout 30
#loadmodule share
#set allow-resync 0
#set resync-time 900
#set private-global 0
#set private-globals "mnot"
#set private-user 0
#set override-bots 0
#loadmodule compress
set share-compressed 1
#set compress-level 9
#loadmodule filesys
set files-path "/home/mydir/filesys"
set incoming-path "/home/mydir/filesys/incoming"
set upload-to-pwd 0
set filedb-path ""
set max-file-users 20
set max-filesize 1024
loadmodule notes
set notefile "db/$uservar.notes"
set max-notes 50
set note-life 60
set allow-fwd 0
set notify-users 0
set notify-onjoin 0
loadmodule console
set console-autosave 1
set force-channel 0
set info-party 0
#loadmodule uptime

#loadmodule ident
#set ident-method 0

source scripts/alltools.tcl
source scripts/action.fix.tcl
source scripts/dccwhois.tcl
source scripts/userinfo.tcl
loadhelp userinfo.help
#source scripts/compat.tcl

if {[info exists net-type]} {
  switch -- ${net-type} {
    "EFnet" {
      # EFnet
      source scripts/quotepong.tcl
    }
    "0" {
      # EFnet
      source scripts/quotepong.tcl
    }
  }
}

# -- Armour
if {![file isdirectory "./db"]} { exec mkdir "./db" }
bind msgm -|- "pass *" ::arm::userdb:msg:pass
source armour/$uservar.conf

