#4v: eggdrop v1.8.4 -- chief -- written Mon Dec 23 04:00:00 2019
Empus      - hjlmnoptx               
--HOSTS -telnet!*@*
--HOSTS *!*@172.16.164.1
--HOSTS *!*@172.16.171.1
--HOSTS *!*@Empus.users.undernet.org
--XTRA created 1576917504
--PASS +M2F3..0W./T/
--LASTON 1576927272 partyline
--CONSOLE * mkcoblxs - 1 0 0
::#armour bans
&&#armour exempts
$$#armour invites
